body {
  padding-top: 40px;
  padding-bottom: 40px;
}

fieldset {
  margin-top:10px;
  height: 600px;
  width:  200px;
  padding: 19px 29px 29px;
  border: 1px solid #E8E8E8;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

table {
  margin-left : 15px;
  margin-top:  10px;
    border: 1px solid #E8E8E8;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

td, th { 
  width:110px !important;
  text-align : center !important;
}

.span91 {  
    height: 500px !important;
    overflow-y:scroll;
	overflow-x:hidden;
    display:block;
    margin-top:-20px;
    width:900px !important;

}

.alignLeft {
	text-align : left !important;
}


​

.navbar{
	text-align: center;
}


.buttonVac {
	-moz-box-shadow:inset 0px 0px 0px -50px #caefab;
	-webkit-box-shadow:inset 0px 0px 0px -50px #caefab;
	box-shadow:inset 0px 0px 0px -50px #caefab;
	background-color:#77d42a;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	border:1px solid #268a16;
	display:inline-block;
	height:20px;
	line-height:20px;
	width:25px;
}
.buttonVac:hover {
	background-color:#5cb811;
}
.buttonVac:active {
	position:relative;
	top:1px;
}


.buttonAbs {
	-moz-box-shadow:inset 0px 0px 0px -50px #fed897;
	-webkit-box-shadow:inset 0px 0px 0px -50px #fed897;
	box-shadow:inset 0px 0px 0px -50px #fed897;
	background-color:#f6b33d;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	border:1px solid #eda933;
	display:inline-block;
	height:20px;
	line-height:20px;
	width:25px;
}
.buttonAbs:hover {
	background-color:#d29105;
}
.buttonAbs:active {
	position:relative;
	top:1px;
}

.buttonVide {
	visibility:hidden
}


