<!DOCTYPE html>
<html lang="fr">
  
  <head>

    <meta charset="utf-8">
    <title> Statistiques Personnelles </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le style -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/infos_perso.css" type="text/css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <style type="text/css"></style><style type="text/css"></style>
  <script type="text/javascript" src="chrome-extension://bfbmjmiodbnnpllbbbfblcplfjjepjdn/js/injected.js"></script>

  </head>

  <body ng-app>

    <!-- Barre de navigation -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
					<a class="brand" href="#">Pégase Web</a>
					<ul class="nav">
						<li><a href="accueil.html">Accueil</a></li>
						<li><a href="ts.html">Tableau de service</a></li>
                        <li class="dropdown" id="infos_perso">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Données Personnelles<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="recap_alim.html">Récapitulatif Alimentation</a></li>
                                <li><a href="credit_debit.html">Crédit-Débit</a></li>
                                <li class="active"><a href="stat_perso.html">Statistiques Personnelles</a></li>
                                <li><a href="historique_perso.html">Historique Personnel</a></li>
                            </ul>
                        </li>
					</ul>
					<ul class="nav pull-right">
						<li><a href="portail.html">Déconnexion</a></li>
                    </ul>
			</div>
		</div>
    </div>
    
    <!-- Contenu -->
	<div id="content">
		<div id="tab-container">
			<ul>
				<li><a class="btn btn-lg btn-primary" href="recap_alim.html">Récapitulatif Alimentation</a></li>
				<li><a class="btn btn-lg btn-primary" href="credit_debit.html">Crédit-Débit</a></li>
				<li><a class="btn btn-lg btn-primary active" href="stat_perso.html">Statistiques Personnelles</a></li>
				<li><a class="btn btn-lg btn-primary" href="historique_perso.html">Historique Personnel</a></li>
			</ul>
		</div>
	
		<div id="main-container">

		  <!-- Partie dynamique avec angular -->
		  <section id="consult" ng-controller="GabCtrl">

			<div class="alert alert-info" style= "margin-bottom: 40px;">
				<h2 style="text-align: center;">Vos statistiques personnelles</h2>
			</div>

			<div class="row-fluid">

				<div class="span8 offset2">
					<div class="alert alert-info">
						<strong>Etape 1 :</strong> Sélectionner le type de statistiques à afficher
					</div>
					
					<div class="well">
						
						<!-- Selection du type de statistique à afficher -->
						<!-- Affiche les statistiques d'absence par défaut -->
						<fieldset>
					    	<legend> Cliquez pour passer à l'étape 2 :</legend>
					    	<button type="submit" class="btn btn-info" ng-click="clicExec()">Execution</button>
					    	<button type="submit" class="btn btn-info" ng-click="clicAbs()">Absences</button>
					    </fieldset>
						
					</div>
				</div>
			</div>

			<!-- Etape 2 : selection de la période. A intégrer : donner un sens à ces choix lors de la récupération des infos côté serveur --> 
			<div class="row-fluid">

				<div class="span8 offset2">
					<div class="alert alert-info">
						<strong>Etape 2 :</strong> Sélectionner la période à afficher
					</div>
					
					<div class="well">

						<form action="#" id="etape2">
						
						<fieldset>
							<legend>Sélectionnez manuellement la période :</legend>
								<div class="clearfix"><labe>Date de début</label>
									<div class="input">
										<input type="text" id="dateDebut" placeholder="jj/mm/aaaa"/>
									</div>
								</div>
								<div class="clearfix"><labe>Date de fin</label>
									<div class="input">
										<input type="text" id="dateFin" placeholder="jj/mm/aaaa"/>
									</div>
								</div>
						</fieldset>

						<fieldset>
							<legend>Ou choisissez une période prédéfinie :</legend>
							<div class="input">
					            <select name="periode">
					              <option value="1">Mois en cours</option>
					              <option value="2">Mois flottant</option>
					              <option value="3">Mois précédent</option>
					              <option value="4">Trimestre en cours</option>
					              <option value="5">Trimestre flottant</option>
					              <option value="6">Trimestre précédent</option>
					              <option value="7">Semestre en cours</option>
					              <option value="8">Semestre flottant</option>
					              <option value="9">Semestre précédent</option>
					              <option value="10">Année en cours</option>
					              <option value="11">Année flottante</option>
					              <option value="12">Année précédente</option>
					            </select> 
					        </div>
						</fieldset>

				       
				        <fieldset>
				        	<legend>  </legend>
				        	<input type="checkbox" style="margin-bottom:10px;"> Cumuler les compensations au temps de travail effectif
				        </fieldset>
						        
						<fieldset>
					    	<legend> </legend>
					    	<!-- Bouton inutile en l'état, possibilité de l'utiliser n'afficher les étapes suivantes qu'après le clic -->
					    	<button type="submit" class="btn btn-info">Passer à l'étape 3</button>
					    </fieldset>

						</form>

					</div>
				</div>
			</div>


			<div class="row-fluid">

				<div class="span8 offset2">
					<div class="alert alert-info">
						<strong>Etape 3 :</strong> Sélectionner les gabarits
					</div>
					
					<div class="well">
						
						<div class="row-fluid">
							<!-- Liste affichée en cas de selection "execution" à l'étape 1 -->
							<fieldset ng-class = "{invisible : !isExec}">
								<legend>Gabarits d'éxecution disponibles</legend>
							
							
								<ul id="gabList_exec">
									<label ng-repeat="gab in list_gab_exec">
										<div class="view">
											<input type="checkbox" class="toggle" ng-model="gab.selected">  {{gab.name}}
										</div>
									</label>
								</ul>

								<fieldset>
				    				<legend> </legend>
									<span id="gabCount_exec">
										<strong>{{nb_gab_exec}}</strong> Gabarits sélectionnés
									</span>
								</fieldset>

							</fieldset>

							<!-- Liste affichée en cas de selection "absence" à l'étape 1 -->
							<fieldset ng-class = "{invisible : isExec}">
								<legend>Gabarits d'absence disponibles</legend>
							
							
								<ul id="gabList_abs">
									<label ng-repeat="gab in list_gab_abs">
										<div class="view">
											<input type="checkbox" class="toggle" ng-model="gab.selected">  {{gab.name}}
										</div>
									</label>
								</ul>

								<fieldset>
				    				<legend> </legend>
									<span id="gabCount_abs">
										<strong>{{nb_gab_abs}}</strong> Gabarits sélectionnés
									</span>
								</fieldset>

							</fieldset>

						</div>
						

						<fieldset>
					    	<legend> </legend>
					    	<!-- Bouton inutile en l'état, possibilité de l'utiliser n'afficher les étapes suivantes qu'après le clic -->
					    	<button type="submit" class="btn btn-info">Passer à l'étape 4</button>
					    </fieldset>
						
					</div>
				</div>
			</div>

			<div class="row-fluid">

				<div class="span8 offset2">

					<div class="alert alert-info">
						<strong>Etape 4 :</strong> Consultation du tableau
					</div>
				</div>

			</div>
			
			<!-- Tableau affiché en cas de selection "execution" à l'étape 1 -->
			<!-- A intégrer : récupération des bonnes infos côté serveur -->
			<div class="row-fluid" ng-class = "{invisible : !isExec}">
				<table class="table table-striped" id="tableau_historique">
					<thead>
						<tr class="alert alert-info">
							<th class="header">Nom</th>
							<th class="header" ng-repeat="gab_exec in list_gab_exec" ng-if="gab_exec.selected == true">
								{{gab_exec.abrev}}
							</th>
							<th class="header">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nom</td>
							<td ng-repeat="gab_exec in list_gab_exec" ng-if="gab_exec.selected == true">
							</td>
							<td>Total</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Tableau affiché en cas de selection "execution" à l'étape 1 -->
			<!-- A intégrer : récupération des bonnes infos côté serveur -->
			<div class="row-fluid" ng-class = "{invisible : isExec}">
				<table class="table table-striped" id="tableau_historique">
					<thead>
						<tr class="alert alert-info">
							<th class="header">Nom</th>
							<th class="header" ng-repeat="gab_abs in list_gab_abs" ng-if="gab_abs.selected == true">
								{{gab_abs.abrev}}
							</th>
							<th class="header">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nom</td>
							<td ng-repeat="gab_abs in list_gab_abs" ng-if="gab_abs.selected == true">
							</td>
							<td>Total</td>
						</tr>
					</tbody>
				</table>
			</div>

		  </section>

		</div>

	</div>

	<!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="lib/angular.js"></script>
    <script src="js/stat_perso.js"></script>
	
  </body>

</html>
