<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="utf-8">
<title>Tableau de service</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Le style -->
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="css/ts.css" type="text/css" rel="stylesheet">
<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<style type="text/css"></style>
<script type="text/javascript"
	src="chrome-extension://bfbmjmiodbnnpllbbbfblcplfjjepjdn/js/injected.js"></script>
<script type="text/javascript" src="js/ts.js"></script>
</head>

<body ng-app>

	<!-- Barre de navigation -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Pégase Web</a>
				<ul class="nav">
					<li><a href="accueil.html">Accueil</a></li>
					<li class="active"><a href="ts.html">Tableau de service</a></li>
					<li class="dropdown" id="infos_perso"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Données
							Personnelles<b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a href="recap_alim.html">Récapitulatif Alimentation</a></li>
							<li><a href="credit_debit.html">Crédit-Débit</a></li>
							<li><a href="stat_perso.html">Statistiques Personnelles</a></li>
							<li><a href="historique_perso.html">Historique Personnel</a></li>
						</ul></li>
				</ul>
				<ul class="nav pull-right">
					<li><a href="portail.html">Déconnexion</a></li>
				</ul>
			</div>
		</div>
	</div>

  <!-- Affichage de la semaine -->
  <div class="row" style="margin-top:30px">
	 <div class="offset3">
	  	<div class="span3">
	  		<h3 style="margin-left:50px">     
	          <script language="javascript">
	                var date = new Date();
	                document.write(date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear());
	            </script>  
	        </h3>
		</div>
		<div class="span6">
			<h2 style="text-align:center;margin-left:100px;">
				Semaine 
				<script type="text/javascript" language="javascript">
					document.write(getWeekNumber());
				</script>
			</h2>
		</div>
	</div>
  </div>
	<!-- Contenu -->
	<div class="container" style="margin-top: 20px">

		<div class="offset4">
			<!-- Semaine précédente/suivante -->
			<button type="button" class="btn btn-default btn-lg">
				<i class="icon-chevron-left"></i> Semaine précedente
			</button>
			<button type="button" class="btn btn-default btn-lg">
				Semaine suivante <i class="icon-chevron-right"></i>
			</button>
		</div>
		<!-- Toolbar du tableau -->
		<div class="row">
			<div class="offset3">
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-lg">Couper</button>
						<button type="button" class="btn btn-default btn-lg">Copier</button>
						<button type="button" class="btn btn-default btn-lg">Coller</button>
						<button type="button" class="btn btn-default btn-lg">Modifier</button>
						<button type="button" class="btn btn-default btn-lg">Supprimer</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-lg">Ajouter
							absence</button>
						<button type="button" class="btn btn-default btn-lg">Ajouter
							vacation</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-lg">Informations</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-lg">Aide</button>
					</div>
				</div>
			</div>


			<div class="row" ng-controller="tsCtrl">
				<!-- Gabarits -->
				<div class="span3">
					<fieldset>
						<h3>Gabarits</h3>
						<br />
						<br /> <br />
						<br />
						<div class="clearfix">
							<label> <strong>Absences :</strong></label>
							<div class="input">
								<select name="gabarits_absences">
									<option value="1">gabarit_absence1</option>
									<option value="2">gabarit_absence2</option>
									<option value="3">gabarit_absence3</option>
									<option value="4">gabarit_absence4</option>
								</select>
							</div>
						</div>
						<br /> <br /> <br /> <br /> <br /> <br />
						<div class="clearfix">
							<label> <strong>Vacations :</strong>
							</label>
							<div class="input">
								<select name="gabarits_vacations">
									<option value="1">gabarit_vacation1</option>
									<option value="2">gabarit_vacation2</option>
									<option value="3">gabarit_vacation3</option>
									<option value="4">gabarit_vacation4</option>
								</select>
							</div>
						</div>
					</fieldset>
				</div>

				<!-- Tableau de service -->
				<div class="span9">
					<table class="table zebra-striped">
						<thead>
							<tr>
								<th>Agent</th>
								<th>Lundi</th>
								<th>Mardi</th>
								<th>Mercredi</th>
								<th>Jeudi</th>
								<th>Vendredi</th>
								<th>Bilan</th>
							</tr>
						</thead>
					</table>
				</div>
				<div class="offset2">
					<div class="span9 span91">
						<table class="table zebra-striped">
							<tbody>
								<tr ng-repeat="agent in agents">
									<td>{{agent.name}}</td>
									<td ng-repeat="jour in agent.ts">
									  	<div class="btn-group"> <!-- 2 boutons - matin et après midi - cliquables TODO : les fonctions onclick -->
									  	<button type="button"  ng-class = "{buttonAbs : {{jour.matin=='abs'}}, buttonVac : {{jour.matin=='vac'}}, buttonVide : {{jour.matin=='null'}}}" ng-click="click(jour.matin)"></button> 
										<button type="button" ng-class = "{buttonAbs : {{jour.aprem=='abs'}}, buttonVac : {{jour.aprem=='vac'}}, buttonVide : {{jour.aprem=='null'}}}" ng-click="click(jour.aprem)"></button> 
										</div>
									</td>
									
									<td>Bilan</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>

		<!-- Le javascript -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="bootstrap/js/jquery.js"></script>
		<script src="bootstrap/js/bootstrap.js"></script>
		<script src="lib/angular.js"></script>
		<script src="js/ts_angular.js"></script>
</body>
</html>